<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gastos</title>
    <link rel="stylesheet" href="resources/Estilos/estilosOpc.css" />
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet" />
    <link
      rel="icon"
      href="resources/Img/iconos/CF-icon.svg"
      type="image/svg+xml"
    />
  </head>
  <body>
    <section class="encabezado">
      <div id="h1" class="elemento-enc">
        <h1>Agregar Gasto</h1>
      </div>
      <a href="listaGas">
        <div class="elemento-enc">
          <button>Lista de Gastos</button>
        </div>
      </a>

      <div class="elemento-enc">
        <a href="home">
          <button>
            <img src="resources/Img/iconos/Salir.png" />
          </button>
        </a>
      </div>
    </section>
    <form action="/registrarGasto" method="post">
      <section class="contenido">
        <div class="elemento-fecha">
          <input id="fecha" name="fecha" type="date" required="true" />
        </div>

        <div class="elemento-con">
          <input
            type="text"
            name="descripcion"
            required="true"
            placeholder="Descripción"
          />
        </div>

        <div class="elemento-con">
          <input
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            name="cantidad"
            required="true"
            placeholder="$0.00"
          />
        </div>
        <div class="elemento-con">
          <button>Agregar +</button>
        </div>
        <div class="elemento-con"></div>
      </section>
    </form>
    <script src="resources/Js/opc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>",
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
        window.location= "/<%= ruta %>"
      })
    </script>
    <% } %>
  </body>
</html>
